{% extends 'base.html.twig' %}

{% block title %}Plein{% endblock %}

{% block body %}
    <h1>
        Plein
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn" role="button" href="{{ path('app_plein_edit', {'id': plein.id}) }}">✍🏼</a>
        {% endif %}
    </h1>

    <table class="table table-sm table-hover">
        <tbody>
            <tr>
                <th>Date</th>
                <td>{{ plein.date ? plein.date|format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY' - 'H'h'mm") : '' }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ (plein.quantite / 100.0) | number_format(2, '.', ' ') }}L</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ (plein.prix / 100.0) | number_format(2, '.', ' ')}}€</td>
            </tr>
            <tr>
                <th>Kilometrage</th>
                <td>{{ plein.kilometrage | number_format(0, '.', ' ')}} km</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-default btn-sm" role="button" href="{{ path('app_plein_index') }}">Retour à la liste</a>
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('plein/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
