{% extends 'base.html.twig' %}

{% block title %}Stations{% endblock %}

{% block body %}
    <h1 class="mt-5">Stations</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-default btn-sm" href="{{ path('app_station_new') }}">Ajouter une station</a>
    {% endif %}


    <table class="table table-sm table-hover mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for station in stations %}
            <tr onclick="window.location='{{ path('app_station_show', {'id': station.id}) }}';" style="cursor:pointer;">
                <th>{{ loop.index }}</th>
                <td>{{ station.nom }}</td>
                <td>{{ station.ville }}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN') %}<a class="btn btn-default" role="button" href="{{ path('app_station_edit', {'id': station.id}) }}">✍🏼</a>{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
